<div class="row">
  <h1>QUESTION</h1>
  <label class="form-control question text-center">Please indicate the route or roadway where you were travelling when the crash occurred:</label>
  <br><br><br>
  <div class="answer">
    <br><br><br>
    <div class="col-md-12">
      <textarea class='form-control crash_answer' cols='80' rows='10' placeholder='Type your answer here' ></textarea>
    </div>
    
    <br><br><br>
    
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-lg btn-block btn-success btn btn-outline-success" action='<%= wiz_step2_path(@contact) %>'>Next ></button>
      </div>
    </div>
    
  </div>
</div>