// Place all the styles related to the Wiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.car-top-view {
  width: auto;
  height: 50px;
}

#a {
  width: auto;
  height: 50px;
}